language: node_js
node_js:
  - '6.5'
  - '6.4'
  - '6.3'
  - '6.2'
  - '6.1'
  - '6.0'
  - '5.12'
  - '5.11'
  - '5.10'
  - '5.9'
  - '5.8'
  - '5.7'
  - '5.6'
  - '5.5'
  - '5.4'
  - '5.3'
  - '5.2'
  - '5.1'
  - '5.0'
  - '4.5'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-react-webpack-redux' ]; then cd .. && eval "mv $currentfolder generator-react-webpack-redux" && cd generator-react-webpack-redux; fi
